model_config_list: {
  config: {
    name: "CTR",
    base_path: "/models/save/CTR/",
    model_platform: "tensorflow"
  },
  config: {
    name: "CTR_XLA",
    base_path: "/models/save/CTR_XLA/",
    model_platform: "tensorflow"
  },
  config: {
    name: "CTR_tensorRT",
    base_path: "/models/save/CTR_tensorRT/",
    model_platform: "tensorflow"
  },
}